/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-card-font-weight, 400);
  background-color: var(--bg-color);
  background-image: var(--body-pattern);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid currentColor;
  padding: clamp(7.5rem, 6.92rem + 2.49vw, 8rem) 0;
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color, #fff);
}

.page__section {
  margin: auto;
  inline-size: clamp(375px, 100%, 700px);
}

.page__header {
  margin-block-end: 100px;
  display: grid;
  gap: 20px;
  text-align: center;
}

.header__logo {
  font-size: clamp(3.0625rem, 1.89rem + 4.98vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.22rem + 2.80vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color, #fff);
}

.page__card {
  padding-block-end: 22px;
}

.card__title {
  width: 100%;
  align-self: flex-start;
  border-block-end: 2px solid var(--accent-color, #000);
  padding: 4px 10px;
  font-size: 18px;
  font-weight: var(--title-card-font-weight);
  font-variation-settings: 'wght' var(--title-card-font-weight, 700);
}

.card__image-container {
  position: relative;
  width: 100%;
  max-width: 696px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  paint-order: stroke;
  mix-blend-mode: hard-light;
  filter: opacity(50%);
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px 26px;
  gap: 25px;
  font-size: 18px;
}

.card__text {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-card-font-weight);
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
  line-height: 21px;
}

.card__controls {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  gap: 8px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  min-width: 130px;
  height: 38px;
}

:where(button, [type="button"], [type="submit"], [type="reset"]) {
  outline: none;
}

.card__icon-button {
  background-color: transparent;
  position: relative;
  border: none;
  z-index: 0;
  height: 38px;
  width: 38px;
  display: flex;
  margin: auto;
  padding: 0;  
}

.card__like-button:hover::before {
  transform: translate(0);
}

.save-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 335px;
  gap: 8px;
  color: #fff;
  padding: 15px 20px;
  height: auto;
  width: auto;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-card-font-weight);
  z-index: 1;
  color: #fff;
  font-size: 14px;
  line-height: 90%;
}

.like-icon {
  cursor: pointer;
}

.icon {
  position: relative;
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

.save-dialog {
  display: none;
  padding: 30px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  max-width: 353px;
  flex-direction: column;
  gap: 30px;
  width: 353px;
}

.save-dialog[open] {
  display: flex;
}

.save-dialog__container {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  align-items: center;
}

.save-dialog__icon {
  position: relative;
  z-index: 1;
  fill: #fff;
}

.save-dialog__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 132.5px;
  height: 38px;
}

.save-dialog__text {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-card-font-weight);
  font-size: 14px;
  line-height: 150%;
  color: var(--accent-color);
  text-transform: uppercase;
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.card__image_filter_grayscale {
  filter: grayscale(80%);
}

.card__image_filter_saturation {
  filter: saturate(400%);
}

.card__image_filter_hue {
  filter: hue-rotate(30deg);
}

.card__image_filter_inversion {
  filter: invert(80%);
}

.card__image_filter_sepia {
  filter: sepia(90%);
}

.card__image_filter_blur {
  filter: blur(20px);
}

.card__image_filter_custom {
  filter: saturate(200%) invert(30%) hue-rotate(90deg) blur(2px) grayscale(10%);
}

.contour {
  fill: var(--contour-color);
}

.sparks {
  opacity: 0;
}

@media (width <= 375px) {
  .save-dialog__container {
    grid-template-columns: 45px 1fr;
  }

  .save-dialog {
    inline-size: 100%;
    padding: 30px 40px;
    width: 341px;
  }
  
  .icon {
    width: 28px;
    height: 28px;
  }

  .save-button {
    flex-direction: column;
    width: auto;
    min-width: 306px;
    height: auto;
    padding: 15px 15px;
  }

  .card__description {
    gap: 24px;
  }

  .save-dialog__button {
    padding: 12.5px 116.5px;
  }
}