/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter Variable';
    --main-card-font-weight: 410;
    --title-card-font-weight: 715;
    --accent-font: 'PressStart2P';
    --accent-color: #000;
    --bg-color: #fff;
    --body-pattern: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --page-section-size: 700px;
    --logo-font-size: clamp(3.0625rem, 1,8943rem + 4.9844vw, 4.0625rem);
    --button-text-color: #000;
    --contour-color: #000;
    --animation-fill-color: red;
}